/* @import "app.css"; */
@import "article-list.css";
@import "animated-grid.css";

/* styles.css */
.App {
  max-width: auto;
  margin: 0 auto;
  padding: 10px;
  text-align: center; /* Center align the heading text */
}

/* Add background color to the page */
body {
  background-color: rgba(255, 255, 255, 0.737);
  margin: 0; /* Remove default margin */
  display: flex; /* Use flexbox */
  flex-direction: column; /* Stack children vertically */
  min-height: 100vh; /* Ensure the body stretches to at least the height of the viewport */
}

/* Set text color for different sections */
h1,
h2,
h3 {
  color: black; /* Dark text color for headings */
}

p {
  color: darkgreen; /* Medium-dark text color for paragraphs */
}

/* Add transitions between sections */
header,
main,
footer {
  transition: background-color 0.3s ease; /* Smooth transition for background color */
}

/* Define background colors for different sections */
header {
  background-color: beige; /* White background color for header */
}

main {
  background-color: beige; /* White background color for main section */
  flex-grow: 1; /* Allow main content area to grow to fill available space */
}

footer {
  background-color: beige; /* White background color for footer */
}
